# >>> Application <<<
APP__LOGGING_LEVEL=DEBUG
APP__LOGFILE_PATH=log_file.log
APP__LOGFILE_TTL_MEASURE=D
APP__LOGFILE_TTL=30
APP__UVICORN_HOST=0.0.0.0
APP__UVICORN_PORT=8000

# >>> Postgres <<<
DATABASE__POSTGRES_HOST=chat-postgres
DATABASE__POSTGRES_PORT=5432
DATABASE__POSTGRES_EXT_PORT=5434
DATABASE__POSTGRES_DB=chat-db
DATABASE__POSTGRES_USER=postgres
DATABASE__POSTGRES_PASSWORD=postgres

# >>> Redis <<<
REDIS__REDIS_HOST=chat-redis
REDIS__REDIS_PORT=6379
REDIS__REDIS_USER=default
REDIS__REDIS_PASSWORD=redis
REDIS__REDIS_EXT_PORT=6380
REDIS__REDIS_EXT_CLUSTER_PORT=8001
